html, body{
    margin: 0;
    height: 100%;
}

body{
    background-image: url("/img/body.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    color: white;
}

.form-group{
    border-radius: 5px;
}

.hoteles{
    background-color: orange;
}

.vuelos{
    background-color: skyblue;
}

.vuelos p{
    font-size: 20px;
}

#grupoFormulario > div{
    margin-left: 1em;
    margin-top: 1em;
}

#grupoFormulario:last-child{
    margin-right: 1em;
}

.bloqueNoches{
    flex-basis: 25%;
}

.bloqueHabitacionInterna{
    width:150px;
}

.edad select{
    background-color: orange;
    border-radius: 5px;
}

.edad select option:disabled{
    color: white;
}

.bloqueAgregar{
    background-color: lightblue;
    width: 100px;
}

.botonAgregar {
    height: 2em;
    line-height: 2em;  
    width: 2em;  
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    background-color: rgb(92, 92, 180);
    color: white;
    text-align: center;
    cursor: pointer;
}

.textoNumero, .textoHabitacion{
    font-weight: bold;
    color: rgb(66, 172, 66);
}

.textoNumero{
    font-size: 20px;
}

hr{ 
    border:         none;
    border-left:    2px solid hsla(200, 10%, 50%, 100);
    height:         auto;
    width:          5px;       
}

.close{
    visibility: hidden;
}

#botonTerminar:hover{
    color:rgb(92, 92, 180);
    font-weight: bold;
    cursor: pointer;
}

.popover{
    max-width: fit-content;
}